<!DOCTYPE html>
<html lang="Zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/xxx/favicon.png" type="image/x-icon">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/xxx/fontawesome/css/all.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="/xxx/css/slick.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/xxx/css/bootstrap.min.css">
    <!-- style for this template -->
    <link rel="stylesheet" href="/xxx/css/style.css">
    <!-- responsive style -->
    <link rel="stylesheet" href="/xxx/css/responsive.css">
</head>
<body>

    <!-- preloader begin-->
    <div class="preloader">
        <div class="loader">
            <hr><hr>
        </div>
    </div>
    <!-- preloader end -->

    <!-- scroll to top -->
    <div class="scroll-to-top">
    </div>
    <!-- scroll to top -->

    <!-- header begin -->
    <div class="header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9">
                        <div class="top-left">
                            <ul>
                                <li><a href="#"><i class="fas fa-envelope"></i>example@info.com</a></li>
                                <li><a href="#"><i class="fas fa-phone"></i>+880 1234 567890</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="top-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-2 d-xl-flex d-lg-flex d-block align-items-center">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-7 d-xl-block d-lg-block d-flex align-items-center">
                                <div class="logo">
                                    <a href="#"><img src="/xxx/images/logo.png" alt="LOGO"></a>
                                </div>
                            </div>
                            <div class="d-xl-none d-lg-none d-block col-5">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-10">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#about">about</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#service">service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#offers">offers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#project">project</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#contact">contact</a>
                                    </li>
                                </ul>
                                <a href="#" class="my-btn">get started</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- banner begin -->
    <div class="banner" id="home">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-6 col-lg-6">
                    <div class="banner-txt">
                        <h1>Faculty of Artificial Intelligence</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laboriosam quas non at similique molestiae dolorum natus.</p>
                        <a href="#" class="my-btn">about us</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-xl-flex d-lg-flex d-block align-items-center">
                    <div class="part-img">
                        <img src="/xxx/images/banner.png" alt="banner image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- about begin -->
    <div class="about" id="about">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="part-img">
                        <img src="/xxx/images/about.png" alt="about">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-7 d-xl-flex d-lg-flex d-block align-items-center">
                    <div class="part-txt">
                        <div class="title">
                            <p>about us</p>
                            <h2>A few words about us</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ipsam, quisquam at veritatis commodi voluptatum quidem modi eius sunt excepturi quod id eligendi magnam nisi, earum ex provident inventore cupiditate!</p>
                        <ul>
                            <li><i class="fas fa-external-link-alt"></i>Advance Advisory Team</li>
                            <li><i class="fas fa-external-link-alt"></i>Professional Consulting Services</li>
                            <li><i class="fas fa-external-link-alt"></i>24/7 Support Help Center</li>
                            <li><i class="fas fa-external-link-alt"></i>Customer Service & Operations</li>
                        </ul>
                        <a href="#" class="my-btn">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about end -->

    <!-- service begin -->
    <div class="service" id="service">
        <div class="container">
            <div class="heading">
                <p>services</p>
                <h2>services we provide</h2>
            </div>
            <div class="row justify-content-between">
                <div class="col-xl-6 col-lg-6">
                    <div class="part-txt">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum minima, quam, ipsa ipsam quibusdam aliquid possimus qui impedit laboriosam, non facere. Ut magni sed commodi fugit at iusto. Maiores, eveniet.</p>
                        <h6>Virtual Personal Assistants <span>50%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                        </div>
                        <h6>Videos Surveillance <span>25%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                        </div>
                        <h6>Social Media Services <span>75%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                        <h6>Online Customer Support <span>100%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 d-xl-flex d-lg-flex d-block align-items-center">
                    <div class="part-img">
                        <img src="/xxx/images/service.png" alt="service">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service end -->

    <!-- how it's works begin -->
    <div class="how-its">
        <div class="container">
            <div class="heading">
                <p>how it's work</p>
                <h2>how does sutent Work</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="part-box after">
                        <div class="part-img">
                            <img src="/xxx/images/img-1.png" alt="how it's">
                        </div>
                        <div class="part-txt">
                            <h3>data for all your people</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat autem sunt perspiciatis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="part-box after">
                        <div class="part-img">
                            <img src="/xxx/images/img-3.png" alt="how it's">
                        </div>
                        <div class="part-txt">
                            <h3>a new breed of all</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat autem sunt perspiciatis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="part-box">
                        <div class="part-img">
                            <img src="/xxx/images/img-2.png" alt="how it's">
                        </div>
                        <div class="part-txt">
                            <h3>analytics bussiness</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat autem sunt perspiciatis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- how it's works end -->

    <!-- what we offer begin -->
    <div class="offers" id="offers">
        <div class="container">
            <div class="heading">
                <p>offers</p>
                <h2>what we offer</h2>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="analyst-tab" data-toggle="tab" href="#analyst" role="tab" aria-controls="analyst" aria-selected="true">
                        <img src="/xxx/images/img-2.png" alt="img1">
                        data analysts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="optimization-tab" data-toggle="tab" href="#optimization" role="tab" aria-controls="optimization" aria-selected="false">
                        <img src="/xxx/images/img-5.png" alt="img2">
                        optimization
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab" aria-controls="security" aria-selected="false">
                        <img src="/xxx/images/img-4.png" alt="img3">
                        security
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="healthcare-tab" data-toggle="tab" href="#healthcare" role="tab" aria-controls="healthcare" aria-selected="false">
                        <img src="/xxx/images/img-6.png" alt="img4">
                        healthcare
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="analyst" role="tabpanel" aria-labelledby="analyst-tab">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-5">
                            <div class="part-img">
                                <img src="/xxx/images/tab-1.png" alt="image-1">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-7">
                            <div class="part-txt">
                                <h3>We Are Machine Learning Based Startup Agencies</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, possimus officiis amet eveniet commodi reiciendis dolores? Vero exercitationem repellendus.</p>
                                <ul>
                                    <li><i class="fas fa-external-link-alt"></i>Advance Advisory Team</li>
                                    <li><i class="fas fa-external-link-alt"></i>Professional Consulting Services</li>
                                    <li><i class="fas fa-external-link-alt"></i>24/7 Support Help Center</li>
                                    <li><i class="fas fa-external-link-alt"></i>Customer Service & Operations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="optimization" role="tabpanel" aria-labelledby="optimization-tab">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-5">
                            <div class="part-img">
                                <img src="/xxx/images/tab-2.png" alt="image-1">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-7">
                            <div class="part-txt">
                                <h3>We Are Machine Learning Based Startup Agencies</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, possimus officiis amet eveniet commodi reiciendis dolores? Vero exercitationem repellendus.</p>
                                <ul>
                                    <li><i class="fas fa-external-link-alt"></i>Advance Advisory Team</li>
                                    <li><i class="fas fa-external-link-alt"></i>Professional Consulting Services</li>
                                    <li><i class="fas fa-external-link-alt"></i>24/7 Support Help Center</li>
                                    <li><i class="fas fa-external-link-alt"></i>Customer Service & Operations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-5">
                            <div class="part-img">
                                <img src="/xxx/images/tab-1.png" alt="image-1">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-7">
                            <div class="part-txt">
                                <h3>We Are Machine Learning Based Startup Agencies</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, possimus officiis amet eveniet commodi reiciendis dolores? Vero exercitationem repellendus.</p>
                                <ul>
                                    <li><i class="fas fa-external-link-alt"></i>Advance Advisory Team</li>
                                    <li><i class="fas fa-external-link-alt"></i>Professional Consulting Services</li>
                                    <li><i class="fas fa-external-link-alt"></i>24/7 Support Help Center</li>
                                    <li><i class="fas fa-external-link-alt"></i>Customer Service & Operations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="healthcare" role="tabpanel" aria-labelledby="healthcare-tab">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-5">
                            <div class="part-img">
                                <img src="/xxx/images/tab-2.png" alt="image-1">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-7">
                            <div class="part-txt">
                                <h3>We Are Machine Learning Based Startup Agencies</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, possimus officiis amet eveniet commodi reiciendis dolores? Vero exercitationem repellendus.</p>
                                <ul>
                                    <li><i class="fas fa-external-link-alt"></i>Advance Advisory Team</li>
                                    <li><i class="fas fa-external-link-alt"></i>Professional Consulting Services</li>
                                    <li><i class="fas fa-external-link-alt"></i>24/7 Support Help Center</li>
                                    <li><i class="fas fa-external-link-alt"></i>Customer Service & Operations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- what we offer end -->

    <!-- portfolio begin -->
    <div class="portfolio" id="project">
        <div class="container">
            <div class="heading">
                <p>portfolio</p>
                <h2>Our successful works</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="item">
                        <div class="part-img">
                            <img src="/xxx/images/project-1.jpg" alt="image-1">
                        </div>
                        <div class="part-txt">
                            <h3>Data is the new science. big data holds the answers.</h3>
                            <p>data analysis</p>
                            <a href="#" class="my-btn"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="item">
                        <div class="part-img">
                            <img src="/xxx/images/project-2.jpg" alt="image-1">
                        </div>
                        <div class="part-txt">
                            <h3>Data is the new science. big data holds the answers.</h3>
                            <p>photography</p>
                            <a href="#" class="my-btn"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="item">
                        <div class="part-img">
                            <img src="/xxx/images/project-3.jpg" alt="image-1">
                        </div>
                        <div class="part-txt">
                            <h3>Data is the new science. big data holds the answers.</h3>
                            <p>data analysis</p>
                            <a href="#" class="my-btn"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="part-btn">
                <a href="#" class="my-btn">see all projects</a> 
            </div>
        </div>
    </div>
    <!-- portfolio end -->

    <!-- testimonial begin -->
    <div class="testimonial">
        <div class="container">
            <div class="heading">
                <p>testimonial</p>
                <h2>What clients say about us</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-7">
                    <div class="txt">
                        <div class="comment">
                            <div class="part-img">
                                <img src="/xxx/images/client-1.jpg" alt="img-1">
                            </div>
                            <div class="part-txt">
                                <h3>shaikh darda</h3>
                                <span>customer</span>
                                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit consequatur perferendis quod! Voluptas, necessitatibus expedita. Deleniti repudiandae facilis numquam totam."</p>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="part-img">
                                <img src="/xxx/images/client-2.jpg" alt="img-2">
                            </div>
                            <div class="part-txt">
                                <h3>darda shaikh</h3>
                                <span>customer</span>
                                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit consequatur perferendis quod! Voluptas, necessitatibus expedita. Deleniti repudiandae facilis numquam totam."</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial end -->

    <!-- awards begin -->
    <div class="awards">
        <div class="container">
            <div class="heading">
                <p>awards</p>
                <h2>Our Achievements</h2>
            </div>
            <div class="award">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="part-img">
                            <img src="/xxx/images/01.png" alt="img-1">
                            <h3>Best partner of the<br>year (20xx)</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="part-img">
                            <img src="/xxx/images/02.png" alt="img-2">
                            <h3>Best partner of the<br>year (20xx)</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="part-img">
                            <img src="/xxx/images/03.png" alt="img-3">
                            <h3>Best partner of the<br>year (20xx)</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="part-img">
                            <img src="/xxx/images/04.png" alt="img-4">
                            <h3>Best partner of the<br>year (20xx)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- awards end -->

    <!-- team begin -->
    <div class="team" id="team">
        <div class="container">
            <div class="heading">
                <p>our team</p>
                <h2>meet our dedicated team</h2>
            </div>
            <div class="row justify-content-around">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="member">
                        <div class="part-img">
                            <img src="/xxx/images/team-1.jpg" alt="img-1">
                        </div>
                        <div class="part-txt">
                            <p>ceo</p>
                            <h3>shaikh darda</h3>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="member">
                        <div class="part-img">
                            <img src="/xxx/images/team-2.jpg" alt="img-1">
                        </div>
                        <div class="part-txt">
                            <p>founder</p>
                            <h3>darda shaikh</h3>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="member">
                        <div class="part-img">
                            <img src="/xxx/images/team-1.jpg" alt="img-1">
                        </div>
                        <div class="part-txt">
                            <p>developer</p>
                            <h3>shaikh darda</h3>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="member">
                        <div class="part-img">
                            <img src="/xxx/images/team-2.jpg" alt="img-1">
                        </div>
                        <div class="part-txt">
                            <p>designer</p>
                            <h3>darda shaikh</h3>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team end -->

    <!-- blog begin -->
    <div class="blog" id="blog">
        <div class="container">
            <div class="heading">
                <p>blog</p>
                <h2>our latest blog</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="blog-d">
                        <div class="part-img">
                            <img src="/xxx/images/blog-1.jpg" alt="img-1">
                        </div>
                        <div class="part-txt">
                            <p class="admin"><i class="fas fa-user-edit"></i> tamim ubaida</p>
                            <h3>Data is the new science. big data holds the answers.</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure nihil nulla temporibus ab maxime expedita impedit, praesentium, sed esse odit est perferendis consectetur.</p>
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="blog-d">
                        <div class="part-img">
                            <img src="/xxx/images/blog-2.jpg" alt="img-2">
                        </div>
                        <div class="part-txt">
                            <p class="admin"><i class="fas fa-user-edit"></i> shaikh darda</p>
                            <h3>Data is the new science. big data holds the answers.</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure nihil nulla temporibus ab maxime expedita impedit, praesentium, sed esse odit est perferendis consectetur.</p>
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="blog-d">
                        <div class="part-img">
                            <img src="/xxx/images/blog-1.jpg" alt="img-1">
                        </div>
                        <div class="part-txt">
                            <p class="admin"><i class="fas fa-user-edit"></i> tamim ubaida</p>
                            <h3>Data is the new science. big data holds the answers.</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure nihil nulla temporibus ab maxime expedita impedit, praesentium, sed esse odit est perferendis consectetur.</p>
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog end -->

    <!-- contact begin -->
    <div class="contact" id="contact">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-3">
                    <div class="part-img">
                        <img src="/xxx/images/contact.png" alt="img-1">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    
            <div class="heading">
                <p>contact</p>
                <h2>get in touch with us</h2>
            </div>
                    <form>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <input type="text" name="name" placeholder="enter your first name" required>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <input type="text" name="name" placeholder="enter your last name" required>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <input type="email" id="email" placeholder="enter your email address" required>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <input type="text" placeholder="enter your subject" required>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <textarea placeholder="enter your message" required></textarea>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <div class="part-btn text-center">
                                    <button class="my-btn">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- contact end -->

    <!-- footer begin -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-6">
                    <div class="f-about">
                        <img src="/xxx/images/logo.png" alt="LOGO" />
                        <p>Lorem, Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Quis Nobis Quia Modi Accusamus Laborum.</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6">
                    <div class="links">
                        <h3>Quick Link</h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Tickets</a></li>
                            <li><a href="#">Venue</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="links">
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="#">Careers At Va</a></li>
                            <li><a href="#">Homeless Veterans</a></li>
                            <li><a href="#">Minority Veterans</a></li>
                            <li><a href="#">Pension</a></li>
                            <li><a href="#">Plain Language</a></li>
                            <li><a href="#">Employment Center</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="location">
                        <h3>Contact Us</h3>
                        <p>512, Main Road St, Ma 176 Charls Town</p>
                        <a href="#">Info@Example.Com</a>
                        <p>+101 123 456 789</p>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="part-txt">
                            <p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-5">
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->

    <!-- jquery -->
    <script src="/xxx/js/jquery-3.4.1.min.js"></script>
    <!-- sclick slider -->
    <script src="/xxx/js/slick.min.js"></script>
    <!-- bootstrap -->
    <script src="/xxx/js/bootstrap.min.js"></script>
    <!-- custom javascript -->
    <script src="/xxx/js/main.js"></script>
</body>
</html>
